<h2 class="heading-secondary u-margin-bottom-small">Technical skills</h2>
  <ul class="list">
    <li class="list__item paragraph">JavaScript
      - essential knowledge to go any further with programming</li>
    <li class="list__item paragraph">Angular
      - proficient (based on Pluralsight)</li>
      <li class="list__item paragraph">TypeScript
        - funtamental for work with Angular
      </li>
      <li class="list__item paragraph">TestCafe - first test automation framework I got to work with.
        In my current employement I was responsible for creation of automated tests, API test automation
      </li>
      <li class="list__item paragraph">JAVA - I got to learn Java to create automation tests in Selenium Webdriver framework. It helped me a lot to become a better developer
      </li>
      <li class="list__item paragraph">Selenium WebDriver - creation of more complex automation tests
      </li>
      <li class="list__item paragraph">React
        - the basics
       </li>
    <li class="list__item paragraph">HTML5
      - attention to semantic code and good practice</li>
      <li class="list__item paragraph">CSS3
       - attention to good design and clean code</li>
      <li class="list__item paragraph">Bootstrap
        - pracitce use and quick reseach
    </li>
    <li class="list__item paragraph">Responsive Web Design
      </li>
      <li class="list__item paragraph">GIT
         </li>
      <li class="list__item paragraph">JIRA
       </li>
  </ul>
