
  <section class="container">
    <div class="col-12 user__wrapper">
      <div [@fadeInLeft]="fadeInLeft" class="col-12 col-sm-8 col-md-6 user__content">
        <div class="user__copy">
          <div class="user__logo">
            <!-- <img src="../../assets/images/pp_logo.png" alt="Logo" class="user__logo-img"> -->
            <img [defaultImage]="logoImgDraft" [lazyLoad]="logoImg"
              alt="Logo" class="user__logo-img">
          </div>
          <div class="divider"></div>
          <h1 class="heading-primary u-margin-bottom-smaller">Hello,</h1>
          <p class="paragraph paragraph--med u-color-white">My name is Piotr Pachocki. I'm a Frontend Web Developer, I just like to create great stuff.</p>
            <div class="user__links">
              <ul class="user__social">
                  <li class="user__social-item">
                      <a href="mailto:pachocki.dev@gmail.com" target="_blank" class="user__social-link">
                          <i class="fa fa-envelope" aria-hidden="true"></i>
                      </a>
                  </li>
                  <li class="user__social-item">
                      <a href="https://www.linkedin.com/in/piotr-pachocki-453342190/" target="_blank" class="user__social-link">
                          <i class="fa fa-linkedin"></i>
                      </a>
                  </li>
                  <li class="user__social-item">
                      <a href="https://github.com/Anuradis" target="_blank" class="user__social-link">
                          <i class="fa fa-github"></i>
                      </a>
                  </li>
              </ul>
          </div>
        </div>
      </div>
      <div [@fadeInRight]="fadeInRight" class="d-none d-sm-block col-12 col-sm-4 col-md-6 user__profile">
        <img [defaultImage]= "profileImgDraft" [lazyLoad] = "profileImg" alt="Profile image" class="user__profile-img">
      </div>
      </div>
    </section>
