  <main #top class="container-fluid">
      <div class="row">
          <div class="col-12">
              <div class="content">
                  <div class="content__left">
                      <section class="resume">
                          <div class="resume__intro">
                              <h2 class="heading-secondary u-color-white u-margin-bottom-med">About me</h2>
                              <p class="paragraph u-color-white">My focus is to develop as Front-End Developer. I believe that the qualities I have – diligence, analytical mind, fast learning capability and goal - orientation are the foundation of this; I have had the opportunity to be part of a microservice architecture project that consisted of about 30 people – mutual understanding, the awareness that everyone is fighting for a common goal as well as clear communication were the key to success. </p>
                              <p class="paragraph u-color-white u-margin-bottom-smaller">Tu wstaw madry cytat!!!!!!</p>
                          </div>
                          <div class="resume__experience">
                              <h2 class="heading-secondary u-margin-bottom-small">Technical skills</h2>
                              <ul class="list">
                                <li class="list__item paragraph">HTML5
                                  - attention to semantic code and good practice.</li>
                                  <li class="list__item paragraph">CSS3
                                   - attention to good design and clean code.</li>
                                  <li class="list__item paragraph">Bootstrap
                                    - pracitce use and quick reseach.
                                </li>
                                <li class="list__item paragraph">Responsive Web Design.
                                  </li>
                                  <li class="list__item paragraph">JavaScript
                                    - essential knowledge to go any further with programming.</li>
                                  <li class="list__item paragraph">TypeScript
                                    - funtamental for work with Angular.
                                  </li>
                                  <li class="list__item paragraph">React
                                     - the basics
                                    </li>
                                  <li class="list__item paragraph">Angular
                                    - proficient</li>
                                    <li class="list__item paragraph">TestCafe - first test automation framework I got to work with.
                                      In my current employement I was responsible for creation of automated tests, API test automation.
                                    </li>
                                      <li class="list__item paragraph">JAVA - I got to learn Java to create automation tests in Selenium Webdriver framework. It helped me a lot to become a better developer.
                                      </li>
                                      <li class="list__item paragraph">Selenium WebDriver - creation of more complex automation tests.
                                      </li>
                                  <li class="list__item paragraph">GIT
                                     </li>
                                  <li class="list__item paragraph">JIRA
                                   </li>
                              </ul>
                          </div>
                          <div class="resume__education">
                              <h2 class="heading-secondary u-color-white">Experience</h2>
                              <ul class="list">
                                  <li class="list__item">
                                      <p class="paragraph u-color-white">
                                          <span class="u-weight-bld">Junior Software Engineer</span>
                                          <br>Global Logic, Zielona Góra, Poland
                                          <br>
                                          <span class="paragraph--small">(09/2019 – present)</span>
                                          <br>
                                      </p>
                                  </li>
                                  <br>
                                  <li class="list__item">
                                    <p class="paragraph u-color-white">
                                        <span class="u-weight-bld">The winner of Summer Front – End Academy</span>
                                        <br>Global Logic, Zielona Góra, Poland
                                        <br>
                                        <span class="paragraph--small">(07/2019 – 09/2019)</span>
                                        <br>
                                    </p>
                                </li>
                                <br>
                                <li class="list__item">
                                  <p class="paragraph u-color-white">
                                      <span class="u-weight-bld">Self-taught programmer</span>
                                      <br>Zielona Góra, Poland
                                      <br>
                                      <span class="paragraph--small">(01/2019 – Present)</span>
                                      <br>
                                  </p>
                              </li>
                              </ul>
                          </div>
                      </section>
                  </div>
                  <div class="content__right">
                      <section class="portfolio">
                          <header class="portfolio__header">
                              <h3 class="heading-tertiary u-color-white">My projects</h3>
                          </header>
                          <div class="portfolio__content">
                              <div class="portfolio__content-main">
                                  <article class="portfolio__item">
                                      <div class="portfolio__item-preview" style="background-image: url('../../assets/images/weather_app.png');" data-portfolio="weather_app">
                                        <a href="https://yourfreeweatherapp.web.app/" target="_blank">
                                          <span class="portfolio__item-bg-button"></span></a>
                                          <ul class="portfolio__item-cta">
                                              <li class="portfolio__item-cta__item">
                                                  <a href="https://bitbucket.org/jsmafia/weatherapp-angular/src/master/" target="_blank" class="portfolio__item-cta__link">
                                                      <i class="fa fa-github portfolio__item-cta__icon"></i>
                                                  </a>
                                              </li>
                                              <li class="portfolio__item-cta__item portfolio__item-cta__item--no-link"
                                              (click)="toggleContentWeatherApp($event)"><a href="#" class="portfolio__item-cta__link portfolio__item-cta__link--info"><i class ="fa fa-2x portfolio__item-cta__icon"
                                                [class.fa-angle-up]="weatherAppContent"[class.fa-angle-down]="!weatherAppContent"></i></a>
                                              </li>
                                          </ul>
                                      </div>
                                      <div class="portfolio__item-info"
                                      [hidden]="!weatherAppContent"
                                      [@slideInOut]="animationStateWeatherApp">
                                          <div class="portfolio__item-info__intro">
                                              <p class="paragraph u-color-white">
                                                Co-creator of WeatherApp -  project realized at Summer Front-End Academy at GL.
                                                <br>
                                                <br>
                                                 Techstack: HTML5, Css3, JavaScript ES6, Angular, Leaflet. </p>
                                          </div>
                                      </div>
                                  </article>

                                  <article class="portfolio__item">
                                      <div class="portfolio__item-preview" style="background-image: url('../../assets/images/apm.png');" data-portfolio="playball_game">
                                        <a href="https://github.com/DeborahK/Angular-Routing" target="_blank">
                                          <span class="portfolio__item-bg-button"></span></a>
                                          <ul class="portfolio__item-cta">
                                              <li class="portfolio__item-cta__item">
                                                  <a href="https://github.com/DeborahK/Angular-Routing" target="_blank" class="portfolio__item-cta__link">
                                                      <i class="fa fa-github portfolio__item-cta__icon"></i>
                                                  </a>
                                              </li>
                                              <li class="portfolio__item-cta__item portfolio__item-cta__item--no-link"
                                              (click)="toggleContentFetchServer($event)">
                                                <a href="#" class="portfolio__item-cta__link portfolio__item-cta__link--info"><i class ="fa fa-2x portfolio__item-cta__icon"
                                                  [class.fa-angle-up]="fetchServerContent"[class.fa-angle-down]="!fetchServerContent"></i></a>
                                              </li>
                                          </ul>
                                      </div>
                                      <div class="portfolio__item-info"
                                      [hidden]="!fetchServerContent"
                                      [@slideInOut]="animationStateFetchServer">
                                          <div class="portfolio__item-info__intro">
                                              <p class="paragraph u-color-white">CRUD App
                                                <br>
                                                <br>
                                                The app was recreated, based on Deborah Kurata courses, completed on PLURALSIGHT
                                              </p>
                                                <ul class="paragraph u-color-white">
                                                  <li>Angular: Getting Started</li>
                                                  <li>Angular: Reactive Forms</li>
                                                  <li>Angular: Routing</li>
                                                </ul>
                                                <p class="paragraph u-color-white">
                                                Techstack: JavaScript, Angular, ES6, HTML5, CSS3, Node.js, Npm.
                                                </p>
                                          </div>
                                      </div>
                                  </article>

                                  <article class="portfolio__item">
                                      <div class="portfolio__item-preview" style="background-image: url('../../assets/images/todo_list.png');" data-portfolio="todo_list">
                                        <a href="https://pptodolist.herokuapp.com" target="_blank">
                                        <span class="portfolio__item-bg-button"></span></a>
                                          <ul class="portfolio__item-cta">
                                              <li class="portfolio__item-cta__item">
                                                  <a href="https://github.com/Anuradis/toDoList-onHeroku" target="_blank" class="portfolio__item-cta__link">
                                                      <i class="fa fa-github portfolio__item-cta__icon"></i>
                                                  </a>
                                              </li>
                                              <li class="portfolio__item-cta__item portfolio__item-cta__item--no-link"
                                              (click)="toggleContentToDo($event)">
                                                <a href="#" class="portfolio__item-cta__link portfolio__item-cta__link--info">
                                                  <i class ="fa fa-2x portfolio__item-cta__icon"
                                                  [class.fa-angle-up]="toDoContentContent"[class.fa-angle-down]="!toDoContentContent"></i>
                                                </a></li>
                                          </ul>
                                      </div>
                                      <div class="portfolio__item-info"
                                      [hidden]="!toDoContentContent"
                                      [@slideInOut]="animationStateToDo">
                                          <div class="portfolio__item-info__intro">
                                              <p class="paragraph u-color-white">Each user can create his own todo list, by providing list name after slash e.g. "baseURL/your_list". Thanks to MongoDB list is saved and stored in data base.
                                                <br>
                                                <br>
                                                Technstack: HTML5, CSS3, Node.js, Express.js, Mongoose (Mongo DB), Npm.
                                              </p>
                                          </div>
                                      </div>
                                  </article>
                              </div>
                              <div class="portfolio__content-sub"
                              [hidden]="showMore"
                              [@slideInOut]="animationStateShowMore"
                              >
                              <article class="portfolio__item">
                                <div class="portfolio__item-preview" style="background-image: url('../../assets/images/fetch_news-server.png');" data-portfolio="playball_game">
                                  <a href="https://github.com/Anuradis/fetchnewsserver/blob/master/README.md" target="_blank">
                                    <span class="portfolio__item-bg-button"></span></a>
                                    <ul class="portfolio__item-cta">
                                        <li class="portfolio__item-cta__item">
                                            <a href="https://github.com/Anuradis/fetchnewsserver" target="_blank" class="portfolio__item-cta__link">
                                                <i class="fa fa-github portfolio__item-cta__icon"></i>
                                            </a>
                                        </li>
                                        <li class="portfolio__item-cta__item portfolio__item-cta__item--no-link"
                                        (click)="toggleContentFetchServer($event)">
                                          <a href="#" class="portfolio__item-cta__link portfolio__item-cta__link--info"><i class ="fa fa-2x portfolio__item-cta__icon"
                                            [class.fa-angle-up]="fetchServerContent"[class.fa-angle-down]="!fetchServerContent"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="portfolio__item-info"
                                [hidden]="!fetchServerContent"
                                [@slideInOut]="animationStateFetchServer">
                                    <div class="portfolio__item-info__intro">
                                        <p class="paragraph u-color-white">Creator of NewsFetchApp – News are fetched from the server and are being displayed chronologically in web app.
                                          <br>
                                          <br>
                                          Techstack: JavaScript ES6, HTML5, CSS3, Node.js, Npm, Webpack.
                                        </p>
                                    </div>
                                </div>
                            </article>

                            <article class="portfolio__item">
                              <div class="portfolio__item-preview" style="background-image: url('../../assets/images/playball_game.png');" data-portfolio="playball_game">
                                <a href="https://anuradis.github.io/playball-game/" target="_blank">
                                  <span class="portfolio__item-bg-button"></span></a>
                                  <ul class="portfolio__item-cta">
                                      <li class="portfolio__item-cta__item">
                                          <a href="https://github.com/Anuradis/playball-game" target="_blank" class="portfolio__item-cta__link">
                                              <i class="fa fa-github portfolio__item-cta__icon"></i>
                                          </a>
                                      </li>
                                      <li class="portfolio__item-cta__item portfolio__item-cta__item--no-link"
                                      (click)="toggleContentFetchServer($event)">
                                        <a href="#" class="portfolio__item-cta__link portfolio__item-cta__link--info"><i class ="fa fa-2x portfolio__item-cta__icon"
                                          [class.fa-angle-up]="fetchServerContent"[class.fa-angle-down]="!fetchServerContent"></i></a>
                                      </li>
                                  </ul>
                              </div>
                              <div class="portfolio__item-info"
                              [hidden]="!fetchServerContent"
                              [@slideInOut]="animationStateFetchServer">
                                  <div class="portfolio__item-info__intro">
                                      <p class="paragraph u-color-white">Playball-game was created by "MafiaJs" team. The main purpose was to enchance JavaScript skills and get first experience in team project.
                                        It's the falling ball game; in order to win the user has to score (kill) as many balls as he can, before they fall down.
                                        <br>
                                        <br>
                                        The project ended-up unfinished and dusted. After few months, I decided to work on it in order to complete the demo version.
                                        The app is hosted on github pages.
                                        <br>
                                        <br>
                                        Techstack: JavaScript ES6, HTML5, CSS3, Node.js, Npm, Webpack.
                                      </p>
                                  </div>
                              </div>
                          </article>

                          <article class="portfolio__item">
                            <div class="portfolio__item-preview" style="background-image: url('../../assets/images/web-design.png');" data-portfolio="web-design">
                              <a href="https://anuradis.github.io/Example-web-design/" target="_blank">
                                <span class="portfolio__item-bg-button"></span></a>
                                <ul class="portfolio__item-cta">
                                    <li class="portfolio__item-cta__item">
                                        <a href="https://github.com/Anuradis/Example-web-design" target="_blank" class="portfolio__item-cta__link">
                                            <i class="fa fa-github portfolio__item-cta__icon"></i>
                                        </a>
                                    </li>
                                    <li class="portfolio__item-cta__item portfolio__item-cta__item--no-link"
                                    (click)="toggleContentFetchServer($event)">
                                      <a href="#" class="portfolio__item-cta__link portfolio__item-cta__link--info"><i class ="fa fa-2x portfolio__item-cta__icon"
                                        [class.fa-angle-up]="fetchServerContent"[class.fa-angle-down]="!fetchServerContent"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="portfolio__item-info"
                            [hidden]="!fetchServerContent"
                            [@slideInOut]="animationStateFetchServer">
                                <div class="portfolio__item-info__intro">
                                    <p class="paragraph u-color-white">Web design page – small app created as an excerise to practice basic rules of languages
                                      <br>
                                      <br>
                                      Techstack: HTML5, CSS3.
                                    </p>
                                </div>
                            </div>
                        </article>

                        <article class="portfolio__item">
                          <div class="portfolio__item-preview" style="background-image: url('../../assets/images/web-design.png');" data-portfolio="web-design">
                            <a href="https://anuradis.github.io/web-design/" target="_blank">
                              <span class="portfolio__item-bg-button"></span></a>
                              <ul class="portfolio__item-cta">
                                  <li class="portfolio__item-cta__item">
                                      <a href="https://github.com/Anuradis/web-design" target="_blank" class="portfolio__item-cta__link">
                                          <i class="fa fa-github portfolio__item-cta__icon"></i>
                                      </a>
                                  </li>
                                  <li class="portfolio__item-cta__item portfolio__item-cta__item--no-link"
                                  (click)="toggleContentFetchServer($event)">
                                    <a href="#" class="portfolio__item-cta__link portfolio__item-cta__link--info"><i class ="fa fa-2x portfolio__item-cta__icon"
                                      [class.fa-angle-up]="fetchServerContent"[class.fa-angle-down]="!fetchServerContent"></i></a>
                                  </li>
                              </ul>
                          </div>
                          <div class="portfolio__item-info"
                          [hidden]="!fetchServerContent"
                          [@slideInOut]="animationStateFetchServer">
                              <div class="portfolio__item-info__intro">
                                  <p class="paragraph u-color-white">Web design page – small app created as an excerise to practice basic rules of languages
                                    <br>
                                    <br>
                                    Techstack: HTML5, CSS3.
                                  </p>
                              </div>
                          </div>
                      </article>
                              </div>
                          </div>
                          <footer class="portfolio__footer">
                              <button #seeMore class="cta cta--white paragraph paragraph--med u-color-white u-align-block-center portfolio__show-more"
                              (click)="onShowMore()">{{showMoreName}}</button>
                          </footer>
                      </section>
                  </div>
              </div>
          </div>
          <button class="portfolio__item-scroll-up"
          (click)="onScroll(seeMore)">
            <i class="fa fa-3x" [class.fa-angle-double-down]="!windowTop" [class.fa-angle-double-up]="windowTop"></i>
          </button>
      </div>
  </main>

