  <main #top class="container-fluid">
      <div [@lightSpeedIn]="lightSpeedIn" class="row">
          <div class="col-12">
              <div class="content">
                  <div class="content__left">
                      <app-resume class="resume"></app-resume>
                  </div>
                  <div class="content__right">
                      <app-my-projects (sendSeeMoreElement)="receiveElement($event)"></app-my-projects>
                  </div>
              </div>
          </div>
          <button [@rubberBand]="rubberBand" class="portfolio__item-scroll-up"
          (click)="onScrollBtn(receivedTemplateChildVar)">
            <i #example class="fa fa-3x" [class.fa-angle-double-down]="!windowTop" [class.fa-angle-double-up]="windowTop"></i>
          </button>
      </div>
  </main>

