<h2 class="heading-secondary u-color-white u-margin-bottom-med">About me</h2>
  <p class="paragraph u-color-white">My focus is to develop as Front-End Developer. I believe that the qualities I have – diligence, analytical mind, fast learning capability and goal - orientation are the foundation of this; I have had the opportunity to be part of a microservice architecture project that consisted of about 30 people – mutual understanding, the awareness that everyone is fighting for a common goal as well as clear communication were the key to success. </p>
  <p class="paragraph u-color-white u-margin-bottom-smaller">I agree with Thomas Jefferson who said - “I find that the harder I work , the more luck I seem to have.”</p>

