<section class="portfolio">
  <header class="portfolio__header">
      <h3 class="heading-tertiary u-color-white">My projects</h3>
  </header>
  <div class="portfolio__content"
  *ngFor="let main of mainProjects; let i=index">
      <div class="portfolio__content-main" >
          <article #weatherAppTarget class="portfolio__item" >
              <div class="portfolio__item-preview" [ngStyle]="{'background-image': 'url(' + main.img +')'}" [lazyLoad] = "main.ImgDraft" [title]="main.name">
                <a [href]="main.sourceURL" target="_blank">
                  <span class="portfolio__item-bg-button"></span></a>
                  <ul class="portfolio__item-cta">
                      <li class="portfolio__item-cta__item">
                          <a [href]="main.sourceRepo" target="_blank" class="portfolio__item-cta__link">
                              <i class="fa fa-github portfolio__item-cta__icon"></i>
                          </a>
                      </li>
                      <li class="portfolio__item-cta__item portfolio__item-cta__item--no-link"
                      (click)="onToggleContent($event, weatherAppContent, main?.id)"><a href="#" class="portfolio__item-cta__link portfolio__item-cta__link--info"><i class ="fa fa-2x portfolio__item-cta__icon"
                        [class.fa-angle-up]="onArrowSwitch(main.id)"[class.fa-angle-down]="!onArrowSwitch(main.id)"></i></a>
                      </li>
                  </ul>
              </div>
              <div class="portfolio__item-info"
              ng-style="{'visibility': onAnimationState(main.id) ? 'visible' : 'hidden'}"
              [@slideInOut]="onAnimationState(main.id)">
                  <div class="portfolio__item-info__intro"
                  *ngFor="let pmain of main.description">
                      <p class="paragraph u-color-white" *ngIf="pmain.title">{{pmain.title}}</p>
                      <p class="paragraph u-color-white">{{pmain.main}}
                      </p>
                        <ul class="paragraph u-color-white" *ngIf="pmain.courses">
                          <li *ngFor="let course of pmain.courses">
                            {{course}}
                          </li>
                        </ul>
                      <p class="paragraph u-color-white">{{pmain.techstack}}</p>
                  </div>
              </div>
            </article>
      </div>

      <div class="portfolio__content-sub"
      *ngIf="animationStateShowMore"
        [@slideInOut]="animationStateShowMore"
>
      </div>
  </div>
  <footer class="portfolio__footer">
      <button #seeMore class="cta cta--white paragraph paragraph--med u-color-white u-align-block-center portfolio__show-more"
      (click)="onShowMore($event)">{{showMoreName}}</button>
  </footer>
</section>

