<h2 class="heading-secondary u-color-white">Experience</h2>
  <ul class="list">
      <li class="list__item">
          <p class="paragraph u-color-white">
              <span class="u-weight-bld">Junior Software Engineer</span>
              <br>Global Logic, Zielona Góra, Poland
              <br>
              <span class="paragraph--small">(09/2019 – present)</span>
              <br>
          </p>
      </li>
      <br>
      <li class="list__item">
        <p class="paragraph u-color-white">
            <span class="u-weight-bld">The winner of Summer Front – End Academy</span>
            <br>Global Logic, Zielona Góra, Poland
            <br>
            <span class="paragraph--small">(07/2019 – 09/2019)</span>
            <br>
        </p>
    </li>
    <br>
    <li class="list__item">
      <p class="paragraph u-color-white">
          <span class="u-weight-bld">Self-taught programmer</span>
          <br>Zielona Góra, Poland
          <br>
          <span class="paragraph--small">(01/2019 – Present)</span>
          <br>
      </p>
  </li>
  </ul>
